<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->

<div class="page">
    <div class="main">

        <!--菜单-->
        <include file="Public/menu"/>
        <!--菜单-->

        <!--左侧模块-->
        <div class="col-left">
            <div class="search_list">
                <dt>区域：</dt>
                <dd>
                    <span class="search_current"><a class="search_link" href="/campus/0-1.html">不限</a></span>

                </dd>
            </div>
            <div class="contents">
                <volist name="data" id="vo">
                <dl class="tea_list fix">
                    <dt>
                        <a href="{:U('info',array('id'=>$vo['id']))}" target="_blank"><img src="{$vo.headPic}"></a>
                    </dt>
                    <dd>
                        <h5><a href="{:U('info',array('id'=>$vo['id']))} target="_blank">{$vo.name}</a></h5>
                        <p class="add">{$vo.address}</p>
                        <p class="tell">{$vo.phone}</p>
                        <div class="school_tips">福州市</div>
                    </dd>
                </dl>
                </volist>
            </div>


        </div>
        <!--右侧模块-->
        <!--右侧模块-->
        <div class="col-right">

            <div class="nav_bulletin">
                <h3>在线留言</h3>
                <a href="{:U('Message/index')}">
                    <img src="__PUBLIC__/Home/pc/Content/Images/20131227123536_68660.jpg" style=" width: 100%; height: auto;" alt=""/>
                </a>
            </div>

            <div class="nav_bulletin" style="height: 300px; margin-top: 15px;   border: 1px #EDEDED solid;" >
                <h3>公司资讯</h3>
                <ul class="inforR_text" >
                    <volist name="information" id="vo">
                        <li><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                            {$vo['title']}</a></li>
                    </volist>

                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>

<include file="Public/friendship"/>
<include file="Public/navigation"/>
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>


